trigger: none
pool: My-agent-pool

stages:
- stage: init
  displayName: Terraform Init
  jobs:
     - job:
       steps:
            - task: TerraformTask@5
              displayName: Terraform Init
              inputs:
                provider: 'azurerm'
                command: 'init'
                workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
                backendAzureRmUseEntraIdForAuthentication: false
                backendServiceArm: 'myserviceconnection'
                backendAzureRmOverrideSubscriptionID: 'acd9510d-7e29-433d-8504-d10d34dba654'
                backendAzureRmResourceGroupName: 'rg-abhishekaggarwal'
                backendAzureRmStorageAccountName: 'abhishekaggsa'
                backendAzureRmContainerName: 'amanstate'
                backendAzureRmKey: 'dev.terraform.tfstate'

- stage: scanning
  displayName: Scanning code
  dependsOn: init
  jobs:
    - job: checkov
      steps:
        - task: PowerShell@2
          displayName: Checkov scanning
          continueOnError: true
          inputs:
            targetType: 'inline'
            script: 'checkov -d "$(System.DefaultWorkingDirectory)" -o junitxml > checkovtest.xml'
        - task: PublishTestResults@2
          displayName: Checkov Publish Report 
          inputs:
            testResultsFormat: 'JUnit'
            testResultsFiles: 'checkovres.xml'
        - task: PowerShell@2
          displayName: TFlint scanning
          continueOnError: true
          inputs:
            targetType: 'inline'
            script: 'tflint --chdir="$(System.DefaultWorkingDirectory)" --recursive --format junit | Out-File -Encoding utf8 > tflint-report.xml ;exit 0 '
        - task: PublishTestResults@2
          displayName: TFlint Publish Report
          inputs:
            testResultsFormat: 'JUnit'
            testResultsFiles: 'tflint-report.xml'

- stage: 
  displayName: Terraform plan
  jobs:
    - job: 
      steps:
            - task: TerraformTask@5
              displayName: Terraform Init
              inputs:
                provider: 'azurerm'
                command: 'init'
                workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
                backendAzureRmUseEntraIdForAuthentication: false
                backendServiceArm: 'myserviceconnection'
                backendAzureRmOverrideSubscriptionID: 'acd9510d-7e29-433d-8504-d10d34dba654'
                backendAzureRmResourceGroupName: 'rg-abhishekaggarwal'
                backendAzureRmStorageAccountName: 'abhishekaggsa'
                backendAzureRmContainerName: 'amanstate'
                backendAzureRmKey: 'dev.terraform.tfstate'

            - task: TerraformTask@5
              displayName: Terraform plan
              inputs:
                provider: 'azurerm'
                command: 'plan'
                workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
                environmentServiceNameAzureRM: 'myserviceconnection'
- stage: 
  displayName: Manual validation
  jobs:
    - job: 
      pool: server
      steps:
        - task: ManualValidation@1
          inputs:
            notifyUsers: 'aman.ch07@gmail.com'
            approvers: 'aman.ch07@gmail.com'
- stage: 
  displayName: Terraform apply
  jobs:
    - job: 
      steps:
            - task: TerraformTask@5
              displayName: Terraform Init
              inputs:
                provider: 'azurerm'
                command: 'init'
                workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
                backendAzureRmUseEntraIdForAuthentication: false
                backendServiceArm: 'myserviceconnection'
                backendAzureRmOverrideSubscriptionID: 'acd9510d-7e29-433d-8504-d10d34dba654'
                backendAzureRmResourceGroupName: 'rg-abhishekaggarwal'
                backendAzureRmStorageAccountName: 'abhishekaggsa'
                backendAzureRmContainerName: 'amanstate'
                backendAzureRmKey: 'dev.terraform.tfstate'
            - task: TerraformTask@5
              displayName: Terraform apply
              inputs:
                provider: 'azurerm'
                command: 'apply'
                workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
                environmentServiceNameAzureRM: 'myserviceconnection'